body {
    background-image: url("http://2.bp.blogspot.com/-rvyOLR3Zhxc/UHfQaPDzrKI/AAAAAAAABZI/CBrFhL_sVgg/s1600/ice-snowy-rocks-mountains-hd-background-wallpapers-widescreen-high-resolutions-006.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
   
}
.head {
    /*border: solid 1px black;*/
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsla(182, 62%, 18%, 0.39);
}
.left {
    display: flex;
    flex-direction: row;
}
img {
    border-radius: 5px;
    background-color: hsla(182, 42%, 62%, 0.61);
    color: white;
    
}
#boards{
    color: white;
    display: flex;
    flex-direction: row;
    background-color: hsla(182, 42%, 62%, 0.61);
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
}
#boards:hover, #home:hover, .middle:hover, .plus:hover{
    background-color: hsla(167, 29%, 35%, 0.795);
}
#boards img, .middle img{
    margin-right: 5px;
}
#home {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    background-color: hsla(182, 42%, 62%, 0.61);
}
.middle {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    background-color: hsla(182, 42%, 62%, 0.61);
}
.plus{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 10px;
    background-color: hsla(182, 42%, 62%, 0.61);
}

.text {
    align-self: center;
    font-weight: 800;
}
#Board {
    display: flex;
    flex-wrap: wrap;
}
#List {
    background-color: hsla(187, 33%, 95%, 0.89);
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:hsla(182, 42%, 62%, 0.61);
}
#modal {
    width: 450px;
    height: 200px;
    background-color: hsla(187, 33%, 95%, 0.89);
}